<p id="notice"><%= notice %></p>

<h1>Subscribers</h1>

<div class="container">
    <%= search_form_for @q, class: 'form-inline' do |f| %>
	<%= f.select :short_code_id_eq, options_from_collection_for_select(ShortCode.all, "id", "code"), { prompt: 'Short Code',  value: params.dig(:q, :short_code_id_eq) }%>
	&nbsp;
	<div class="form-group">
	    <%= f.label 'Subscribed last between' %>
	    <%= f.search_field :last_subscribed_at_gteq, value: params.dig(:q, :last_subscribed_at_gteq), class: 'form-control form-control-sm', type: 'datetime-local' %>
								 </div>
	&nbsp;
	<%= f.label ' and ' %>	    
	&nbsp;
	<%= f.search_field :last_unsubscribed_at_lteq, value: params.dig(:q, :last_subscribed_at_lteq), class: 'form-control form-control-sm', type: 'datetime-local' %>

	&nbsp;
	<%= f.submit %>
    <% end %>

    <h3>Total: <%= @subscribers.total_count %></h3>
</div>

<table class="table table-striped table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Phone Number</th>
      <th>Short Code</th>
      <th>Active?</th>
      <th>First Subscription</th>
      <th>Recent Subscription</th>
      <th>Recent Unsubscription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
	<td><%= subscriber.phone_number %></td>
	<td><%= subscriber.short_code.code %></td>
	<td><%= subscriber.active? %></td>
	<td><%= subscriber.first_subscribed_at&.strftime('%d/%m/%Y %H:%M:%S %p') %></td>
	<td><%= subscriber.last_subscribed_at&.strftime('%d/%m/%Y %H:%M:%S %p')%></td>
	<td><%= subscriber.last_unsubscribed_at&.strftime('%d/%m/%Y %H:%M:%S %p') %></td>
        <td><%= link_to 'Show', subscriber %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @subscribers %>
